[Desktop Entry]
Name=Merlin
Name[ar]=Merlin
Name[az]=Merlin
Name[bg]=Merlin
Name[ca]=Merlin
Name[ca@valencia]=Merlin
Name[cs]=Merlin
Name[da]=Merlin
Name[de]=Merlin
Name[el]=Merlin
Name[en_GB]=Merlin
Name[eo]=Merlin
Name[es]=Merlin
Name[et]=Merlin
Name[eu]=Merlin
Name[fi]=Merlin
Name[fr]=Merlin
Name[gl]=Merlin
Name[he]=Merlin
Name[hu]=Merlin
Name[ia]=Merlin
Name[id]=Merlin
Name[is]=Merlin
Name[it]=Merlin
Name[ka]=Merlin
Name[ko]=Merlin
Name[lt]=Merlin
Name[lv]=Merlin
Name[nl]=Merlin
Name[nn]=Merlin
Name[pa]=Merlin
Name[pl]=Merlin
Name[pt]=Merlin
Name[pt_BR]=Merlin
Name[ru]=Merlin
Name[sk]=Merlin
Name[sl]=Merlin
Name[sv]=Merlin
Name[tr]=Merlin
Name[uk]=Merlin
Name[x-test]=xxMerlinxx
Name[zh_CN]=Merlin
Name[zh_TW]=Merlin
Comment=A Dark theme for Falkon
Comment[ar]=A Dark theme for Falkon
Comment[az]=A Dark theme for Falkon
Comment[bg]=A Dark theme for Falkon
Comment[ca]=A Dark theme for Falkon
Comment[ca@valencia]=A Dark theme for Falkon
Comment[cs]=A Dark theme for Falkon
Comment[da]=A Dark theme for Falkon
Comment[de]=A Dark theme for Falkon
Comment[el]=A Dark theme for Falkon
Comment[en_GB]=A Dark theme for Falkon
Comment[eo]=A Dark theme for Falkon
Comment[es]=A Dark theme for Falkon
Comment[et]=A Dark theme for Falkon
Comment[eu]=A Dark theme for Falkon
Comment[fi]=A Dark theme for Falkon
Comment[fr]=A Dark theme for Falkon
Comment[gl]=A Dark theme for Falkon
Comment[he]=A Dark theme for Falkon
Comment[hu]=A Dark theme for Falkon
Comment[ia]=A Dark theme for Falkon
Comment[id]=A Dark theme for Falkon
Comment[is]=A Dark theme for Falkon
Comment[it]=A Dark theme for Falkon
Comment[ka]=A Dark theme for Falkon
Comment[ko]=A Dark theme for Falkon
Comment[lt]=A Dark theme for Falkon
Comment[lv]=A Dark theme for Falkon
Comment[nl]=A Dark theme for Falkon
Comment[nn]=A Dark theme for Falkon
Comment[pl]=A Dark theme for Falkon
Comment[pt]=A Dark theme for Falkon
Comment[pt_BR]=A Dark theme for Falkon
Comment[ru]=A Dark theme for Falkon
Comment[sk]=A Dark theme for Falkon
Comment[sl]=A Dark theme for Falkon
Comment[sv]=A Dark theme for Falkon
Comment[tr]=A Dark theme for Falkon
Comment[uk]=A Dark theme for Falkon
Comment[x-test]=A Dark theme for Falkon
Comment[zh_CN]=A Dark theme for Falkon
Comment[zh_TW]=A Dark theme for Falkon

Icon=theme.png
Type=Service
X-Falkon-Type=Theme

X-Falkon-Author=Mario Ametrano
X-Falkon-License=GPLv3
