#navigation-button-back
{
    qproperty-themeIcon: "go-next";
}

#navigation-button-next
{
    qproperty-themeIcon: "go-previous";
}

#navigation-button-tools
{
    qproperty-themeIcon: "arrow-left-double";
    qproperty-fallbackIcon: url(images/tools-rtl.png);
}
#navigation-button-reload
{
    qproperty-multiIcon: url(images/navigation-reload.png);
}
#tabbar-button-right
{
    qproperty-themeIcon: "arrow-left";
    qproperty-fallbackIcon: url(images/tab-left-arrow.png);
    qproperty-fixedsize: 15px 25px;
}

#tabbar-button-left
{
    qproperty-themeIcon: "arrow-right";
    qproperty-fallbackIcon: url(images/tab-right-arrow.png);
    qproperty-fixedsize: 15px 25px;
}

#locationbar
{
    background: #343434;
    border: 1px solid #505050;
    min-height: 25px;
    qproperty-leftMargin: 27;
    margin-right: 1px; /* Why ??? */
}

#tabbar::tab:selected:!first
{
    margin-right: -1px;
}

#tabbar::tab:!selected:!first
{
    margin-right: -1px;
}

#tabbar::tab:!selected:!first:hover
{
    margin-right: -1px;
}

#tabbar::tab:selected:first
{
    margin-right: 0;
}

#tabbar::tab:!selected:first
{
    margin-right: 0;
}

#tabbar::tab:selected:only-one
{
    margin-right: 0;
}

#tabbar::tab:!selected:only-one
{
    margin-right: 0;
}

#tabbar::tab:!selected:hover:only-one
{
    margin-right: 0;
}
